.portfolio-page {
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: hidden;

  h1.page-title {
    margin-left: 50px;
    margin-top: 100px;
  }
  p {
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
  }
}
