.contact-form {
  width: 100%;
  margin-top: 20px;
  right: 50%;
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background-color: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: white;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: white;
    background: 0 0;
    font: 16px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px 10px;
    border: 2px solid #9417ba;
    float: right;
    border-radius: 4px;

    &:hover {
      background-color: #9417ba;
      color: white;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container.contact-page {
    width: 100%;

    .text-zone {
      width: 50%;
    }
    .contact-form {
      width: 100%;
    }
  }
}
